<header class="page-header">
  <h1>Каталог фильмов</h1>

  <form class="search-form" [formGroup]="searchForm">
    <input
      type="search"
      placeholder="Поиск фильма..."
      class="search-input"
      formControlName="title"
    />
  </form>

</header>

<main class="movies" (scroll)="onScroll($event)" #moviesContainer>
  <section class="grid">
    @for (movie of filteredMovies(); track movie.id) {
      <app-movie-card
        [movie]="movie"
        (click)="openMovieDetails(movie.id)"
      ></app-movie-card>
    }

    @if (isLoading()) {
      <p class="loader">Загрузка...</p>
    }

    @if (!hasMore() && filteredMovies().length > 0) {
      <p class="no-more">Все фильмы загружены</p>
    }
  </section>
</main>

@if (selectedMovie(); as movie) {
  <app-modal [movie]="movie" (close)="selectedMovie.set(undefined)"></app-modal>
}
